[user]
    name = "Martin Groen"
    email = {{- if eq .profile "work" }}"martin@canva.com"{{- else if eq .profile "home"}}"martin@martinjgroen.com"{{- end }}
[protocol]
    version = 2
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    quotepath = false
    whitespace = space-before-tab,cr-at-eol
    autocrlf = input
    filemode = false
[push]
    default = current
[pull]
    default = current
[alias]
    ctags = !.git/hooks/ctags
    unchangeable = !git ls-files -v | grep ^[a-z]
    lg = log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset'
[apply]
    whitespace = error
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[rebase]
    updateRefs = true
[color]
    ui = true
[color "branch"]
    current = green
    remote = cyan
    plain = normal
    local = yellow
    upstream = white
[color "diff"]
    commit = normal
    frag = normal reverse
    meta = normal
    new = green
    old = red
    plain = normal
    whitespace = yellow reverse
[color "grep"]
    context = normal
    filename = normal
    function = normal
    linenumber = normal
    match = normal
    selected = normal
    separator = normal
[color "status"]
    header = normal
    added = yellow
    branch = white
    changed = magenta
    nobranch = normal
    updated = green
    untracked = red
